<div style="background-color: rgb(46,1,0); width: 100%;display: inline-flex;">
    <div style="height: 100%; ">
    <!-- img source google -->
    <img style="height: 80px;" src="https://i.pinimg.com/originals/01/48/66/0148662247327a7d268ce7d02b8662cf.png">
</div>
<div style="height: 100%; padding-top: 25px;">
    <label  style="color: white; font-weight: bolder; font-size: xx-large;">Halifax Foodie</label> 
</div>
</div>
<mat-toolbar>
    <button mat-button class="menu-button" [routerLink]="'/main/restraunt'">
        Restaurant
      </button>
      <button mat-button class="menu-button" [routerLink]="'/main/add-rest'">
        Add Restaurant
      </button>
      <button mat-button class="menu-button" [routerLink]="'/main/add-dish'">
        Add Dish
      </button>
          <span class="spacer"></span>
    <button mat-icon-button  [routerLink]="'/main/cart'">
        <mat-icon>add_shopping_cart</mat-icon>
    </button>
    <button mat-icon-button (click)="openChat = !openChat">
        <mat-icon> chat_bubble_outline</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" [opened]="openChat" mode="side" position="end">End content</mat-sidenav>
    <div>
        <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
